/* formatting for the header of the page */
header {
    background-color: rgb(82, 82, 82);
    color: white;
    font-size: xx-large;
}
/* formatting for the body of the page */
body {
    background-color: teal;
}